@charset "UTF-8";

.screen-reader-only {
	position: absolute;
	width: 1px;
	height: 1px;
	top: -9999px;
	left: -9999px;
	overflow: hidden;
	padding: 0;
	margin: -1px;
	clip: rect(0 0 0 0);
	border: 0;
}

ol.numerable {
	list-style-type: none;
	counter-reset: item;
}
ol.numerable > li:before {
	counter-increment: item;
	padding-right: 10px;
}
ol.numerable > li:before, ol.numerable.decimal > li:before {
	content: counters(item, ".") ".";
}
ol.numerable[data-liststyletype=decimal-leading-zero] > li:before {
	content: counters(item, ".", decimal-leading-zero) ".";
}
ol.numerable[data-liststyletype=lower-roman] > li:before {
	content: counters(item, ".", lower-roman) ".";
}
ol.numerable[data-liststyletype=upper-roman] > li:before {
	content: counters(item, ".", upper-roman) ".";
}
ol.numerable[data-liststyletype=lower-greek] > li:before {
	content: counters(item, ".", lower-greek) ".";
}
ol.numerable[data-liststyletype=lower-latin] > li:before {
	content: counters(item, ".", lower-latin) ".";
}
ol.numerable[data-liststyletype=upper-latin] > li:before {
	content: counters(item, ".", upper-latin) ".";
}
ol.numerable[data-liststyletype=lower-alpha] > li:before {
	content: counters(item, ".", lower-alpha) ".";
}
ol.numerable[data-liststyletype=upper-alpha] > li:before {
	content: counters(item, ".", upper-alpha) ".";
}

label[for].required:before {
	content: '*';
}