@charset "UTF-8";

.screen-reader-only {
	position: absolute;
	width: 1px;
	height: 1px;
	top: -9999px;
	left: -9999px;
	overflow: hidden;
	padding: 0;
	margin: -1px;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

[data-prefixrequiredfield]:before {
	content: attr(data-prefixrequiredfield) ' ';
}
[data-prefixvalueminfield]:before {
	content: attr(data-prefixvalueminfield) ' ';
}
[data-prefixvaluemaxfield]:before {
	content: attr(data-prefixvaluemaxfield) ' ';
}
[data-prefixautocompletefield]:before {
	content: attr(data-prefixautocompletefield) ' ';
}



[data-prefixrequiredfield][data-prefixvalueminfield]:before {
	content: attr(data-prefixrequiredfield) ' ' attr(data-prefixvalueminfield) ' ';
}
[data-prefixrequiredfield][data-prefixvaluemaxfield]:before {
	content: attr(data-prefixrequiredfield) ' ' attr(data-prefixvaluemaxfield) ' ';
}
[data-prefixrequiredfield][data-prefixautocompletefield]:before {
	content: attr(data-prefixrequiredfield) ' ' attr(data-prefixautocompletefield) ' ';
}

[data-prefixvalueminfield][data-prefixvaluemaxfield]:before {
	content: attr(data-prefixvalueminfield) ' ' attr(data-prefixvaluemaxfield) ' ';
}
[data-prefixvalueminfield][data-prefixautocompletefield]:before {
	content: attr(data-prefixvalueminfield) ' ' attr(data-prefixautocompletefield) ' ';
}

[data-prefixvaluemaxfield][data-prefixautocompletefield]:before {
	content: attr(data-prefixvaluemaxfield) ' ' attr(data-prefixautocompletefield) ' ';
}



[data-prefixrequiredfield][data-prefixvalueminfield][data-prefixvaluemaxfield]:before {
	content: attr(data-prefixrequiredfield) ' ' attr(data-prefixvalueminfield) ' ' attr(data-prefixvaluemaxfield) ' ';
}
[data-prefixrequiredfield][data-prefixvalueminfield][data-prefixautocompletefield]:before {
	content: attr(data-prefixrequiredfield) ' ' attr(data-prefixvalueminfield) ' ' attr(data-prefixautocompletefield) ' ';
}

[data-prefixrequiredfield][data-prefixvaluemaxfield][data-prefixautocompletefield]:before {
	content: attr(data-prefixrequiredfield) ' ' attr(data-prefixvaluemaxfield) ' ' attr(data-prefixautocompletefield) ' ';
}


[data-prefixvalueminfield][data-prefixvaluemaxfield][data-prefixautocompletefield]:before {
	content: attr(data-prefixvalueminfield) ' ' attr(data-prefixvaluemaxfield) ' ' attr(data-prefixautocompletefield) ' ';
}



[data-prefixrequiredfield][data-prefixvalueminfield][data-prefixvaluemaxfield][data-prefixautocompletefield]:before {
	content: attr(data-prefixrequiredfield) ' ' attr(data-prefixvalueminfield) ' ' attr(data-prefixvaluemaxfield) ' ' attr(data-prefixautocompletefield) ' ';
}




[data-suffixrequiredfield]:after {
	content: ' ' attr(data-suffixrequiredfield);
}
[data-suffixvalueminfield]:after {
	content: ' ' attr(data-suffixvalueminfield);
}
[data-suffixvaluemaxfield]:after {
	content: ' ' attr(data-suffixvaluemaxfield);
}
[data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixautocompletefield);
}



[data-suffixrequiredfield][data-suffixvalueminfield]:after {
	content: ' ' attr(data-suffixrequiredfield) ' ' attr(data-suffixvalueminfield);
}
[data-suffixrequiredfield][data-suffixvaluemaxfield]:after {
	content: ' ' attr(data-suffixrequiredfield) ' ' attr(data-suffixvaluemaxfield);
}
[data-suffixrequiredfield][data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixrequiredfield) ' ' attr(data-suffixautocompletefield);
}

[data-suffixvalueminfield][data-suffixvaluemaxfield]:after {
	content: ' ' attr(data-suffixvalueminfield) ' ' attr(data-suffixvaluemaxfield);
}
[data-suffixvalueminfield][data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixvalueminfield) ' ' attr(data-suffixautocompletefield);
}

[data-suffixvaluemaxfield][data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixvaluemaxfield) ' ' attr(data-suffixautocompletefield);
}



[data-suffixrequiredfield][data-suffixvalueminfield][data-suffixvaluemaxfield]:after {
	content: ' ' attr(data-suffixrequiredfield) ' ' attr(data-suffixvalueminfield) ' ' attr(data-suffixvaluemaxfield);
}
[data-suffixrequiredfield][data-suffixvalueminfield][data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixrequiredfield) ' ' attr(data-suffixvalueminfield) ' ' attr(data-suffixautocompletefield);
}

[data-suffixrequiredfield][data-suffixvaluemaxfield][data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixrequiredfield) ' ' attr(data-suffixvaluemaxfield) ' ' attr(data-suffixautocompletefield);
}


[data-suffixvalueminfield][data-suffixvaluemaxfield][data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixvalueminfield) ' ' attr(data-suffixvaluemaxfield) ' ' attr(data-suffixautocompletefield);
}



[data-suffixrequiredfield][data-suffixvalueminfield][data-suffixvaluemaxfield][data-suffixautocompletefield]:after {
	content: ' ' attr(data-suffixrequiredfield) ' ' attr(data-suffixvalueminfield) ' ' attr(data-suffixvaluemaxfield) ' ' attr(data-suffixautocompletefield);
}