@charset 'UTF-8';

.longdescription-link
, #container-heading
, #container-shortcuts
, #container-skippers
, [data-prefixautocompletefield]:before
, [data-suffixautocompletefield]:after
, [data-longdescriptionfor]
, [data-prefixvalueminfield]:before, [data-prefixvaluemaxfield]:before
, [data-suffixvalueminfield]:after, [data-suffixvaluemaxfield]:after
, [data-prefixrequiredfield]:before
, [data-suffixrequiredfield]:after {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: none;
	text-indent: -9999px;
}